# OS files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.o
*.exe

# Log files
*.log

# Virtual environments
.venv/

# IDE files
.idea/
.vscode/

# Sensitive information
config.ini
secrets.json
.env